<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/create" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title"> <br>
        <button type="submit">Add task</button>
    </form>

</body>

</html>