html 
    head 
        link(rel="stylesheet" href="/assets/css/style.css")
        title BlogChef - Dashboard
    body 
        .container
            h1#admin-title BlogChef - Dashboard
            #admin-nav
            h3#user-name Welocme, Joe
            a(href="/admin/logout" id="logOutBtn") Logout
