html
  head
    link(rel="stylesheet" href="/assets/css/style.css")
    title BlogChef - Admin
  body
    .container
      h1#admin-title BlogChef - Admin
      #signup-panel
        h3 Signup for a Moderator Account
        form(method="post" action="/admin/signup" name="signUpForm")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="text" name="name" placeholder="Name")
          input(type="text" name="email" placeholder="E-Mail")
          input(type="password" name="password" placeholder="Password")
          button(type="submit" id="signupBtn") Create Account
    script(src="/assets/js/main.signup.js")